main {
  width: 100%;
  background-color: var(--background-color);
  transition: background-color 1s ease-in-out;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* width: 100vw; */
  height: calc(100vh - 1px);
  max-height: 1700px;
  margin: 0 auto;
  color: var(--font-color);
  background-color: var(--background-color);
  transition: background-color 1s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 60rem;
    border-radius: 50px;
    background: var(--background-color);
    box-shadow: 20px 20px 60px var(--box-shadow-color1),
      -20px -20px 60px var(--box-shadow-color2);
    transition: 1s ease-in-out;
  }

  .titleAndSwitchWrapper h1 {
    font-size: 10rem;
    font-weight: 800;
    text-align: center;
  }

  .relogio p {
    font-size: 10rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    min-width: 100vw;
    padding: 2rem 1rem;
    transition: 1s ease-in-out;
  }

  .titleAndSwitchWrapper h1 {
    font-size: 8rem;
    font-weight: 800;
    text-align: center;
  }

  .relogio p {
    font-size: 10rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 375px) {
  .titleAndSwitchWrapper h1 {
    font-size: 7rem;
    font-weight: 800;
    text-align: center;
  }

  .relogio p {
    font-size: 6rem;
    font-weight: 500;
  }

  .container {
    padding: 0.2rem;
    transition: 1s ease-in-out;
  }
}

@media screen and (max-width: 280px) {
  .container {
    padding: 0.2rem;
    transition: 1s ease-in-out;
  }
  .titleAndSwitchWrapper h1 {
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
  }

  .relogio p {
    font-size: 4rem;
    font-weight: 500;
  }
  

}

/* Titulo e Switchs buttons */

.titleAndSwitchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switchThemeMode {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.switchThemeMode > button {
  font-size: 2rem;
  color: var(--font-color);
}

/* Section para inserir informacoes */
.menuOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.menuOptions form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 6rem;

  width: 50%;
}
.menuOptions form div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.5rem;
}
.menuOptions form div label {
  font-size: 1.5rem;
  font-weight: 300;
}

.menuOptions form div input {
  width: 6rem;
  padding: 0 0.5rem;
  background-color: none;
  border: 1px solid var(--font-color);
  border-radius: 2px;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 415px) {
  /* Para melhor responsividade em dispositivos pequenos */
  .menuOptions form div input {
    width: 5rem; 
  }
}

.menuOptions .arrow {
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
}

.arrow * {
  font-size: 1.5rem;
}

.translateLeft {
  transform: translateX(-6rem);
}

.translateRight {
  transform: translateX(6rem);
}

/* Timer e barra de progresso */

.timerAndProgressWrapper {
  margin: 2rem 0 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.relogio {
  display: flex;
}

/* .relogio p {
  font-size: 10rem;
  font-weight: 500;
} */

/* Barra de Progresso */

.total {
  border: 0.1px solid var(--font-color);
  border-radius: 2px;
  min-width: 20rem;
  width: 25%;
  max-width: 40rem;
  height: 1rem;
}

.progress {
  height: 100%;
  border: none;
  border-radius: 2px;
  transition: width 0.7s ease;
  background-color: var(--font-color);
}

/* Congrats */

.congratsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem;
}

.congratsWrapper h2 {
  font-size: 3rem;
}

.congratsWrapper p {
  font-size: 1.7rem;
  font-weight: 300;
}

/* Botões */

.buttonWrapper {
  /* height: 10rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}

.startButton {
  color: var(--start-button-color);
  transition: filter 0.5s ease-in-out;
}

.pauseButton {
  color: var(--pause-play-button-color);
  transition: filter 0.5s ease-in-out;
}

.stopButton {
  color: var(--stop-button-color-button);
  transition: filter 0.5s ease-in-out;
}

.startButton :hover {
  filter: brightness(115%);
  transition: filter 0.5s ease-in-out;
}

.pauseButton :hover {
  filter: brightness(115%);
  transition: filter 0.5s ease-in-out;
}

.stopButton :hover {
  filter: brightness(115%);
  transition: filter 0.5s ease-in-out;
}

/* Footer */

footer {
  margin-top: 4rem;
}

footer span a {
  margin-left: 0.4rem;
  color: var(--font-color);
}
