* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: hidden;
  
}

:root {
  font-size: 62.5%;
  --font-color: #031B44;
  --background-color: #fffefe;
  --pause-play-button-color: #53D3AF;
  --stop-button-color-button: #EE5436;
  --start-button-color: #7393DD;
  --box-shadow-color1: #c9c9c9;
  --box-shadow-color2: #ffffff;
  
  
}

.dark {
  --font-color: #fffefe;
  --background-color: #031B44;
  --pause-play-button-color: #53D3AF;
  --stop-button-color-button: #EE5436;
  --start-button-color: #fffefe;
  --box-shadow-color1: #000000;
  --box-shadow-color2: #021638;
  transition: 1s ease-in-out;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 7rem;  
}










