* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: hidden;
  
}

:root {
  font-size: 62.5%;
  --black: #031B44;
  --white: #fffefe;
  --green: #53D3AF;
  --red: #EE5436;
  --blue: #7393DD;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 10rem;
  
  
}




